# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Poli_ip\Dropbox\My PC (LAPTOP-F54G9BS7)\Documents\SoftUnuSpringData\Database Access with JDBC\ExJDBC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
